{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
          welcome to ..
{% endblock %}
{% block title %}
    Commerce
{% endblock %}
{% block content %}
<div>

             <div class="row my_row_class">
                 <div class="mx-auto">
                     <p><a href=""></a></p>
                 </div>
             </div>
         </div>
     <div class="mx-auto">
  <center><h2>Commerce</h2></center>
         <img class="my_image my_image_padding" src="{% static 'image/commerce.jpg' %}" alt="Our Products"style="width:950px;height:400px;">
       </div>
<p>This degree is the most customary course that students tend to choose after their class 12th completion. It is a 3 year degree course that provides curricular knowledge on subjects like Accountancy, Statistics, Management, Human Resource, Computer, Economics, etc.</p>
{% endblock %}
