{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
          welcome to ..
{% endblock %}
{% block title %}
   Humanities
{% endblock %}
{% block content %}
<div>

             <div class="row my_row_class">
                 <div class="mx-auto">
                     <p><a href=""></a></p>
                 </div>
             </div>
         </div>
     <div class="mx-auto">
  <center><h2>Humanities</h2></center>
         <img class="my_image my_image_padding" src="{% static 'image/hu.jpg' %}" alt="Our Products"style="width:950px;height:400px;">
       </div>
<p>Humanities is the study of humans in the individual, cultural, societal and experiential sense. Humanities studies help us understand ourselves, others and the world.</p>
{% endblock %}
