{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
          welcome to ..
{% endblock %}
{% block title %}
    Physics
{% endblock %}
{% block content %}
<div>

             <div class="row my_row_class">
                 <div class="mx-auto">
                     <p><a href=""></a></p>
                 </div>
             </div>
         </div>
     <div class="mx-auto">
  <center><h2>Mathematics</h2></center>
         <img class="my_image my_image_padding" src="{% static 'image/mathematics.jpg' %}" alt="Our Products"style="width:950px;height:400px;">
       </div>
<p>Maths course cover fundamental and advanced mathematical concepts. Mathematics courses cover theoretical concepts such as number systems, data handling, algebra, geometry, trigonometry, and so on. Candidates can study Mathematics at the undergraduate, postgraduate, or doctorate levels.</p>
{% endblock %}
