{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
          welcome to ..
{% endblock %}
{% block title %}
    Physics
{% endblock %}
{% block content %}
<div>

             <div class="row my_row_class">
                 <div class="mx-auto">
                     <p><a href=""></a></p>
                 </div>
             </div>
         </div>
     <div class="mx-auto">
  <center><h2>Physics</h2></center>
         <img class="my_image my_image_padding" src="{% static 'image/phy.jpg' %}" alt="Our Products"style="width:950px;height:400px;">
       </div>
<p>Physics is the study of the natural world, covering the behavior of matter and energy. It explores the fundamental laws and principles that govern the universe, such as motion, energy, force, and gravity. It applies these laws and principles to explain the behavior of objects and systems.
</p>
{% endblock %}
